
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="text-align:center">XÁC NHẬN ĐƠN HÀNG</h2>
<h4 style=" margin-bottom: 10px; color: #333; white-space: normal; word-wrap: break-word;">
    Đơn Hàng Của Quý Khách Đã Được Chúng Tôi Ghi Nhận, Chúng Tôi Sẽ Liên Hệ Quý Khách Trong Thời Gian Sớm Nhất Và Giao Hàng Đúng Hẹn.
</h4>
<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "SachOnline")
</p>

